@font-face {
	font-family: 'gothambold1';
	src: url('../fonts/GothamBold/gothambold1.eot');
	src: local('gothambold1'), url('../fonts/GothamBold/gothambold1.woff') format('woff'), url('../fonts/GothamBold/gothambold1.ttf') format('truetype');
}

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/GothamBook/GothamBook.eot');
	src: local('GothamBook'), url('../fonts/GothamBook/GothamBook.woff') format('woff'), url('../fonts/GothamBook/GothamBook.ttf') format('truetype');
}


h2 {
	font-family: 'gothambold1';

	font-size: 2.75em;
	text-transform: uppercase;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	text-decoration: none;
	text-transform: uppercase;

	width: 190px;
	height: 48px;
	border: 1px solid #000;
	margin-top: 37px;

	&:hover {
		background-color: #7e5aff;
		color: #ffff;
		border: 1px solid #ffff;

	}
}

.ba-logo:hover {
	transform: scale(1.1);

}

.ba-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	// margin: 0 20px;
	padding: 0;

	font-size: 1.14em;
	text-transform: uppercase;
	text-decoration: none;

	&__item {
		display: flex;
		align-items: center;

		&:before {
			// color: #fff;
			// font-family: fontawesome;

			// font-weight: "400";
			// content: '\f111';

			// display: block;
			// position: absolute;
			// top: 5px;
			// left: -10px;

			content: "";
			width: 7px;
			height: 7px;
			border-radius: 50%;
			border: 1px solid #ffff;
			margin-right: 10px;
		}

		&:hover::before {

			content: "";
			width: 7px;
			height: 7px;
			border-radius: 50%;
			border: 1px solid #ffff;
			background-color: #ffff;
		}


		&:not(:first-child) {
			padding-left: 4.125em;
			// padding-left: 60px;
		}


	}

	&__link {
		font-family: 'GothamBook';
		font-size: 0.875em;

		display: flex;
		align-items: center;
		color: #ffff;
		text-decoration: none;
	}

}



.ba-social {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;

	&__items {
		color: #ffff;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		width: 2.56em;
		height: 2.56em;
		border-radius: 50%;
		border: 1px solid #ffff;

		&:not(:first-child) {
			margin-left: 1.31em;
		}
	}

	&__items:hover {
		color: #7e5aff;
		background-color: #fff;
	}
}

.ba-slider1 {}

.ba-header {
	display: flex;
	// justify-content: center;
	width: 100%;
	position: absolute;
	z-index: 1;

	color: #ffff;
	// background-color: black;

	&-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 5%;

	}

}

.ba-section1 {
	background: linear-gradient(to right, #55b7ff, #7e5aff);
	position: relative;

	&-bg {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		background-position: center;
		background-size: cover;
	}

	&-wrapper {

		display: flex;
		justify-content: center;
		align-items: center;
		height: inherit;


		&-title {
			color: #fff;
			font-family: 'gothambold1';
			display: flex;
			flex-direction: column;
			align-items: center;
			text-transform: uppercase;

			& h1 {
				font-size: 5em;
				font-weight: bold;
				padding: 0;
				margin: 0;
				letter-spacing: 5px;

			}

			& p {
				font-size: 1.125em;
				letter-spacing: 6px;

				// font-weight: book;

			}
		}
	}

	&-scroll {
		display: flex;
		justify-content: center;
		// margin-bottom: 15%;
		// margin-top: 60%;
		position: absolute;
		bottom: 5%;
		right: 0;
		left: 0;

		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			color: #ffff;
			text-decoration: none;
			width: 41px;
			height: 41px;
			border-radius: 50%;
			border: 1px solid #ffff;

			&:hover {
				color: #7e5aff;
				background-color: #ffff;
			}
		}
	}
}

.ba-section2 {
	margin-bottom: 10%;

	&-title {
		display: flex;
		justify-content: center;
		position: relative;
		margin-top: 4%;
		margin-bottom: 4%;

		& ::before {
			content: '';
			background-color: black;
			top: 4%;
			left: 46%;
			right: 46%;
			width: auto;
			height: 1px;
			position: absolute;
		}
	}

	&-block {
		position: relative;

		& .container {
			display: flex;
			margin-top: 112px;
		}
	}

	&-left {
		// display: flex;
		// justify-content: flex-start;
		// align-items: center;


		&__svg {
			// width: 90%;
			// width: 40%;
			width: 30%;
			height: 100%;
			position: absolute;
			z-index: -1;
			left: 0;
			right: 0;
			top: 0;
			// bottom: 0;
		}

		&__img {
			width: 108%;
		}
	}

	&-right {
		padding-left: 7.19em;

		&__name {
			margin: 0;
			font-size: 1.375em;
			text-transform: uppercase;
		}

		&__title {
			margin-top: 0;
		}

		&__descr {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.125em;
			max-width: 470px;

		}

		&__city {
			font-style: italic;
			padding-top: 45px;

			& i {
				padding-right: 10px;
			}
		}
	}
}

.ba-section3 {
	&-block {
		margin-bottom: 130px;
		position: relative;

		& .container {
			display: flex;
		}
	}

	&-left {
		&__name {
			margin: 0;
			font-size: 1.375em;
			text-transform: uppercase;
		}

		&__title {
			margin-top: 0;
		}

		&__descr {
			font-family: 'Open Sans', sans-serif;
			font-size: 1.125em;
			max-width: 470px;
		}

		&__city {
			font-style: italic;
			padding-top: 45px;

			& i {
				padding-right: 10px;
			}
		}
	}

	&-right {
		// display: flex;
		// justify-content: flex-start;
		// align-items: center;

		&__svg {
			// width: 70%;
			position: absolute;
			z-index: -1;
			// right: -214px; 
			right: 0;
			// left: 0;
			top: -20%;
			height: 100%;
			width: 30%;

		}

		&__img {
			width: 100%;

		}
	}
}

.ba-section4 {
	color: #ffff;
	background: linear-gradient(to right, #3a85d7, #24ccfa);

	&-wrapper {
		background-image: url(../img/4city.png);
		background-position: center;
		background-size: cover;
		height: 100%;

	}

	&-title {
		margin-top: 140px;

		padding-bottom: 40px;
		display: flex;
		justify-content: center;
		position: relative;
		color: #ffff;

		// ;
		& h2 {}

		& ::before {
			content: '';
			background-color: #ffff;
			top: 4%;

			left: 46%;
			right: 46%;
			width: auto;
			height: 1px;
			position: absolute;
		}
	}

	&-news {
		display: flex;
		padding-bottom: 200px;
		position: relative;

		&-item {
			color: #000;
			// border: #000 solid 2px;

			&-bottom {
				background-color: #ffff;
				height: 100%;

				&__title {
					font-family: 'gothambold1';

					padding: 20px 20px 0;
					line-height: 30px;

					font-size: 1.375em;
					margin: 0;
					text-transform: uppercase;
					// text-align: center;
				}

				& p {
					font-family: 'Open Sans', sans-serif;
					padding: 0 20px;

				}

				&-author {

					justify-content: flex-start;
					padding: 20px;

					// & a {
					// 	text-decoration: none;
					// 	color: #000;;
					// }
					& img {
						// border-radius: 50%;
						// display: flex;

					}

					&__name {
						text-transform: uppercase;
						font-size: 1.125em;

					}

					& a {
						color: #55b7ff;
						text-decoration: none;
					}

				}
			}

			&>img {
				width: 100%;
			}




		}
	}

}

.ba-section5 {
	padding-bottom: 140px;

	&-title {
		margin-top: 130px;
		// margin-bottom: 50px;
		display: flex;
		justify-content: center;
		position: relative;

		& ::before {
			content: '';
			background-color: black;
			top: 4%;
			left: 46%;
			right: 46%;
			width: auto;
			height: 1px;
			position: absolute;
		}


	}

	&-gallery {
		padding-top: 30px;
		padding-bottom: 30px;

	}

	&-btn-wrapper {
		display: flex;
		justify-content: center;
		// margin-top: 130px;

	}
}

.ba-section6 {
	&-map {
		min-height: 700px;
		// margin-bottom: 200px;
	}
}

.ba-footer {
	color: #ffff;
	height: 522px;
	background: linear-gradient(to right, #55b7ff, #7e5aff);
	position: relative;

	&-wrapper {
		background-image: url(../img/footer-bg.png);
		background-position: center;
		background-size: cover;
		height: 100%;

	}

	& .container-small {
		max-width: 770px;
		width: 100%;
		margin: 0 auto;
		padding: 0 15px;
		position: absolute;
		left: 0;
		right: 0;
		top: -200px;

	}

	&-contact {
		// display: flex;
		// justify-content: center;
		// position: absolute;
		display: block;
		color: black;
		background-color: #ffffff;
		opacity: 0.98;
		top: -200px;
		background-image: url(../img/frame-city-bg.png);
		background-position: bottom;
		background-repeat: no-repeat;
		padding: 50px;

		&__title {
			position: relative;
			text-align: center;

			&::before {
				content: '';
				background-color: black;
				top: 4%;
				left: 46%;
				right: 46%;
				width: auto;
				height: 1px;
				position: absolute;
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			& i {
				color: #7e5aff;
				margin-right: 10px;
			}
		}

		&-form {
			& input {
				border: none;
				border-bottom: solid 1px black;
			}
		}
	}


	// background-image: url(../img/header-bg.png);
	&-wr {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;

	}

	&-copyrights {
		margin-top: 30px;
	}
}





.ba-slider1 .slick-dots {
	-webkit-transform: translate(-50%, 0) rotate(90deg);
	-ms-transform: translate(-50%, 0) rotate(90deg);
	transform: translate(-50%, -2000%) rotate(90deg);
	left: 89.5%;
}

.ba-slider1 .slick-dots li button:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ffff;
	font-family: 'slick';
	font-size: 6px;
	position: absolute;
	// top: 0;
	// left: 0;
	// opacity: .25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// активная точка
// aria-selected
.ba-slider1 .slick-dots li.slick-active button:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ffff;
	background-color: #ffff;
}

// .slick-prev,
// .slick-next {
// 	-webkit-transform: translate(-50%, 0) rotate(90deg);
// 	-ms-transform: translate(-50%, 0) rotate(90deg);
// 	transform: translate(-50%, 0) rotate(90deg);
// 	left: 50%;
// }

// второй слайдер точки
.ba-slider2 .slick-dots {
	bottom: 15%;
}

.ba-slider2 .slick-dots li button:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #fff;
	font-family: 'slick';
	font-size: 6px;
	position: absolute;
	// top: 0;
	// left: 0;
	// opacity: .25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ba-slider2 .slick-dots li.slick-active button:before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ffff;
	background-color: #ffff;
}

// 

.slick-prev:before,
.slick-next:before {
	font-family: fontawesome;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	border: 1px solid #ffff;
}

.ba-slider2 .slick-prev:before {
	transform: translate(-100%, -300%);
	content: '\f104';

}

.ba-slider2 .slick-next:before {
	transform: translate(100%, -300%);
	content: '\f105';

}

// &-scroll {
// 	display: flex;
// 	justify-content: center;
// 	margin-bottom: 15%;


// 	& a {
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		color: #ffff;
// 		text-decoration: none;
// 		width: 41px;
// 		height: 41px;
// 		border-radius: 50%;
// 		border: 1px solid #ffff;

// 		&:hover {
// 			color: #7e5aff;
// 			background-color: #ffff;
// 		}
// 	}
// }


//повернуть стрелки вертикально 
// .slick-prev,
// .slick-next {
// 	-webkit-transform: translate(-50%, 0) rotate(90deg);
// 	-ms-transform: translate(-50%, 0) rotate(90deg);
// 	transform: translate(-50%, 0) rotate(90deg);
// 	left: 50%;
// }

// .slick-prev {
// 	top: -10px;
// }

// .slick-next {
// 	top: auto;
// 	bottom: -20px;
// }
// 