* {
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* Ba-grid  */
.ba-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ba-row + .ba-row {
  margin-top: 0.625rem; }

[class^='ba-col'] {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%; }

.ba-col-1 {
  width: 8.33333%; }

.ba-col-2 {
  width: 16.66667%; }

.ba-col-3 {
  width: 25%; }

.ba-col-4 {
  width: 33.33333%; }

.ba-col-5 {
  width: 41.66667%; }

.ba-col-6 {
  width: 50%; }

.ba-col-7 {
  width: 58.33333%; }

.ba-col-8 {
  width: 66.66667%; }

.ba-col-9 {
  width: 75%; }

.ba-col-10 {
  width: 83.33333%; }

.ba-col-11 {
  width: 91.66667%; }

.ba-col-12 {
  width: 100%; }

/* ba-common */
.ba-text-center {
  text-align: center; }

.ba-text-left {
  text-align: left; }

.ba-text-right {
  text-align: right; }

.ba-text-justify {
  text-align: justify; }

@font-face {
  font-family: 'gothambold1';
  src: url("../fonts/GothamBold/gothambold1.eot");
  src: local("gothambold1"), url("../fonts/GothamBold/gothambold1.woff") format("woff"), url("../fonts/GothamBold/gothambold1.ttf") format("truetype"); }

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook/GothamBook.eot");
  src: local("GothamBook"), url("../fonts/GothamBook/GothamBook.woff") format("woff"), url("../fonts/GothamBook/GothamBook.ttf") format("truetype"); }

h2 {
  font-family: 'gothambold1';
  font-size: 2.75em;
  text-transform: uppercase; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  width: 190px;
  height: 48px;
  border: 1px solid #000;
  margin-top: 37px; }
  .btn:hover {
    background-color: #7e5aff;
    color: #ffff;
    border: 1px solid #ffff; }

.ba-logo:hover {
  transform: scale(1.1); }

.ba-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1.14em;
  text-transform: uppercase;
  text-decoration: none; }
  .ba-menu__item {
    display: flex;
    align-items: center; }
    .ba-menu__item:before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 1px solid #ffff;
      margin-right: 10px; }
    .ba-menu__item:hover::before {
      content: "";
      width: 7px;
      height: 7px;
      border-radius: 50%;
      border: 1px solid #ffff;
      background-color: #ffff; }
    .ba-menu__item:not(:first-child) {
      padding-left: 4.125em; }
  .ba-menu__link {
    font-family: 'GothamBook';
    display: flex;
    align-items: center;
    color: #ffff;
    text-decoration: none; }

.ba-social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0; }
  .ba-social__items {
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 2.56em;
    height: 2.56em;
    border-radius: 50%;
    border: 1px solid #ffff; }
    .ba-social__items:not(:first-child) {
      margin-left: 1.31em; }
  .ba-social__items:hover {
    color: #7e5aff;
    background-color: #fff; }

.ba-header {
  color: #ffff;
  background: linear-gradient(to right, #55b7ff, #7e5aff); }
  .ba-header-wrapper {
    background-position: center;
    background-size: cover;
    height: 100vh; }
  .ba-header .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
  .ba-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%; }
  .ba-header-title {
    font-family: 'gothambold1';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase; }
    .ba-header-title h1 {
      font-size: 5em;
      font-weight: bold;
      padding: 0;
      margin: 0;
      letter-spacing: 5px; }
    .ba-header-title p {
      font-size: 1.125em;
      letter-spacing: 6px; }
  .ba-header-scroll {
    display: flex;
    justify-content: center;
    margin-bottom: 15%; }
    .ba-header-scroll a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ffff;
      text-decoration: none;
      width: 41px;
      height: 41px;
      border-radius: 50%;
      border: 1px solid #ffff; }
      .ba-header-scroll a:hover {
        color: #7e5aff;
        background-color: #ffff; }

.ba-section2 {
  margin-bottom: 10%; }
  .ba-section2-title {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 4%;
    margin-bottom: 4%; }
    .ba-section2-title ::before {
      content: '';
      background-color: black;
      top: 4%;
      left: 46%;
      right: 46%;
      width: auto;
      height: 1px;
      position: absolute; }
  .ba-section2-block {
    position: relative; }
    .ba-section2-block .container {
      display: flex;
      margin-top: 112px; }
  .ba-section2-left__svg {
    width: 30%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0; }
  .ba-section2-left__img {
    width: 108%; }
  .ba-section2-right {
    padding-left: 7.19em; }
    .ba-section2-right__name {
      margin: 0;
      font-size: 1.375em;
      text-transform: uppercase; }
    .ba-section2-right__descr {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.125em;
      max-width: 470px; }
    .ba-section2-right__city {
      font-style: italic;
      padding-top: 45px; }
      .ba-section2-right__city i {
        padding-right: 10px; }

.ba-section3-block {
  margin-bottom: 130px;
  position: relative; }
  .ba-section3-block .container {
    display: flex; }

.ba-section3-left__name {
  margin: 0;
  font-size: 1.375em;
  text-transform: uppercase; }

.ba-section3-left__descr {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  max-width: 470px; }

.ba-section3-left__city {
  font-style: italic;
  padding-top: 45px; }
  .ba-section3-left__city i {
    padding-right: 10px; }

.ba-section3-right__svg {
  position: absolute;
  z-index: -1;
  right: 0;
  top: -20%;
  height: 100%;
  width: 30%; }

.ba-section3-right__img {
  width: 100%; }

.ba-section4 {
  color: #ffff;
  background: linear-gradient(to right, #3a85d7, #24ccfa); }
  .ba-section4-wrapper {
    background-image: url(../img/4city.png);
    background-position: center;
    background-size: cover;
    height: 100%; }
  .ba-section4-title {
    margin-top: 140px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    color: #ffff; }
    .ba-section4-title ::before {
      content: '';
      background-color: #ffff;
      top: 4%;
      left: 46%;
      right: 46%;
      width: auto;
      height: 1px;
      position: absolute; }
  .ba-section4-news {
    display: flex;
    padding-bottom: 200px; }
    .ba-section4-news-item {
      color: #000; }
      .ba-section4-news-item-bottom {
        background-color: #ffff;
        height: 100%; }
        .ba-section4-news-item-bottom__title {
          font-family: 'gothambold1';
          padding: 20px 20px 0;
          line-height: 30px;
          font-size: 1.375em;
          margin: 0;
          text-transform: uppercase; }
        .ba-section4-news-item-bottom p {
          font-family: 'Open Sans', sans-serif;
          padding: 0 20px; }
        .ba-section4-news-item-bottom-author {
          justify-content: flex-start;
          padding: 20px; }
          .ba-section4-news-item-bottom-author__name {
            text-transform: uppercase;
            font-size: 1.125em; }
          .ba-section4-news-item-bottom-author a {
            color: #55b7ff;
            text-decoration: none; }
      .ba-section4-news-item > img {
        width: 100%; }

.ba-section5 {
  padding-bottom: 140px; }
  .ba-section5-title {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    position: relative; }
    .ba-section5-title ::before {
      content: '';
      background-color: black;
      top: 4%;
      left: 46%;
      right: 46%;
      width: auto;
      height: 1px;
      position: absolute; }
  .ba-section5-gallery {
    padding-top: 30px;
    padding-bottom: 30px; }
  .ba-section5-btn-wrapper {
    display: flex;
    justify-content: center; }

.ba-section6-map {
  min-height: 700px; }

.ba-footer {
  color: #ffff;
  height: 522px;
  background: linear-gradient(to right, #55b7ff, #7e5aff);
  position: relative; }
  .ba-footer-wrapper {
    background-image: url(../img/footer-bg.png);
    background-position: center;
    background-size: cover;
    height: 100%; }
  .ba-footer .container-small {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: -200px; }
  .ba-footer-contact {
    display: block;
    color: black;
    background-color: #ffffff;
    opacity: 0.98;
    top: -200px;
    background-image: url(../img/frame-city-bg.png);
    background-position: center;
    background-size: cover;
    padding: 50px; }
    .ba-footer-contact__title {
      position: relative;
      text-align: center; }
      .ba-footer-contact__title::before {
        content: '';
        background-color: black;
        top: 4%;
        left: 46%;
        right: 46%;
        width: auto;
        height: 1px;
        position: absolute; }
    .ba-footer-contact-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .ba-footer-contact-left i {
        color: #7e5aff;
        margin-right: 10px; }
    .ba-footer-contact-form input {
      border: none;
      border-bottom: solid 1px black; }
  .ba-footer-wr {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; }
  .ba-footer-copyrights {
    margin-top: 30px; }

.slick-dots {
  -webkit-transform: translate(-50%, 0) rotate(90deg);
  -ms-transform: translate(-50%, 0) rotate(90deg);
  transform: translate(-50%, -2000%) rotate(90deg);
  left: 89.5%; }

.slick-dots li button:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #ffff;
  font-family: 'slick';
  font-size: 6px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid #ffff;
  background-color: #ffff; }

.slick-prev:before,
.slick-next:before {
  font-family: fontawesome;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #ffff; }

.slick-prev:before {
  content: '\f104'; }

.slick-next:before {
  content: '\f105'; }
